<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
<h1 class="text-success">
    Welcome to {{ title }}!
  </h1>
  <hr>
</div>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div *ngFor='let item of items;let i=index'>
        <h3 class="text-success" >{{item.title}}</h3>
        <h4><span class="badge badge-danger">Votes:{{item.count}}</span></h4>
        <p class="lead">{{item.description}}</p>
        <p class="text-muted">{{item.author}}</p>
        <p class="text-muted"><span class="text-success">Posted {{item.comdate|datecount}} minutes ago,</span></p>
        <button (click)="increment(i)" class="btn btn-outline-warning">upvote</button>&nbsp;
        <button *ngIf ="item.count>0"(click)="decrement(i)"class="btn btn-outline-danger">Downvote</button><br>
        <div class="text-center">
            <button (click)='delete(i)' class="btn btn-danger">Delete</button>
        </div>
        <hr>
      </div>
    </div>
    <div class="col-md-6">
      <h5 class="text-danger text-center">create a new Quote here!</h5>
      <app-quoteform [parentout]='items' (childout)='additem($event)'></app-quoteform>
    </div>
  </div>
</div>
